<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
<!--    <table></table>-->
    {{ form.as_p }}
<!--    email : <input type="text" name="email"/><br/>-->
<!--    username : <input type="text" name="username"/><br/>-->
<!--    password : <input type="password" name="password"/><br/>-->
<!--    gender :-->
<!--    <select name="gender">-->
<!--        <option value="">성별 선택</option>-->
<!--        <option value="남">남</option>-->
<!--        <option value="여">여</option>-->
<!--    </select><br />-->
    <input type="submit" value="회원가입"/>
</form>

</body>
</html>